<h1>Questions#ask</h1>

<form class="form" action="/answer" method="get">
  <input id="input" type="text" name="question" value="Right your question!">
  <input id="button" id="clear" type="submit" value="Ask!">
</form>
