// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.second {
background-color: #BDD9BF;
}

.container {
  width: 500px;
}

#input {
width: 400px;
height: 30px;

}

#button {
  border-radius: 10px;
  background-color: #99B2DD;
  padding: 16px 32px;

}

